# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
kameloso

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
grinds/
callgrind*

# Other directories
.vscode/

# Misc
kameloso.conf
quotes.json
