# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
/kameloso
/kameloso-test

# DUB
/.dub
/dub.selections.json
docs.json
__dummy.html
/docs/

# Code coverage
*.lst
/grinds
callgrind*

# Other directories
.vscode/

# Misc
*.conf
*.json
/TODO
/RELEASE.md
/RED*

# tracy
/trace.tracy
/trace.json

# compilers
/1.*
/2.*
/dub
/safepush

# adrdox
/generated-docs
/skeleton.html

# project-specific
/conf
/dscan
