version: 2

jobs:
  build:
    docker:
      - image: cimg/base:2021.11
    steps:
      - checkout
      - run:
          name: Install compilers
          command: ./.circleci/run.sh install-deps
      - run:
          name: Build and test (dmd)
          command: ./.circleci/run.sh build-dmd
      - run:
          name: Build and test (ldc)
          command: ./.circleci/run.sh build-ldc
      - store_artifacts:
          path: ./artifacts

workflows:
  version: 2
  build_and_test:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - /appveyor-.*/
                - /travis-.*/
                - gh-pages
                - /dustmite-.*/
                - /github-.*/
                - onlinetests
