name: D

on:
  push:
    branches-ignore:
      - travis-*
      - circleci-*
      - appveyor-*
      - dustmite-*
      - gh-pages

  pull_request:
    branches-ignore:
      - travis-*
      - circleci-*
      - appveyor-*
      - dustmite-*
      - gh-pages

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: dlang-community/setup-dlang@7c3e57bdc1ff2d8994f00e61b3ef400e67d2d7ac
    - env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true

    - name: 'Build and test'
      run: |
        time dub test  --compiler=$DC
        time dub build --compiler=$DC --nodeps -b debug   -c dev
        time dub build --compiler=$DC --nodeps -b plain   -c dev
        time dub build --compiler=$DC --nodeps -b release -c dev
        dub fetch adrdox
        dub run adrdox -- -ip --header-title="kameloso IRC bot" source
        cp -rv .circleci generated-docs

    - name: Deploy to GitHub Pages
      uses: crazy-max/ghaction-github-pages@v2.2.0
      with:
        target_branch: gh-pages
        keep_history: false
        allow_empty_commit: true
        build_dir: generated-docs
